.nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.nav ul {
    position: relative;
    display: flex;
    flex-direction: row;
}

.nav li {
    position: relative;
    list-style-type: none;
}

a {
    position: relative;
    height: 120px;
    width: 90px;
    display: flex;
    text-decoration: none;
}

i {
    font-size: 36px;
    position: absolute;
}

.ativo {
    opacity: 0;
}

.click {
    opacity: 0;
}

#ativo{
    opacity: 1;
}