* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    outline: none;
}

body {
    background-color: yellowgreen;
}



ul {
    display: flex;
  justify-content:space-between;
}

li {
    list-style-type: none;
}

 a {

    height: 80px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}   

i { 
    color: #772fd3;
    font-size: 38px;
    position: absolute;
    filter: drop-shadow(1px 1px 1px black);
}

.ativo {
    opacity: 0;
    transition: all 0.6s ease-in-out;
    transition-delay: 0.5;
}

.click{
    opacity: 0;
}

.click:hover{
    opacity: 1;
    /* transition: ease-in; */
}

.nav ul li.listaAtiva a i {
    opacity: 1;
}

main {
    width: 375px;
    height: 800px;
    border-radius: 20px;
    margin: 0 auto;
    padding: 44px 24px 23px;
    display: flex;
    flex-direction: column;
    background: #F4F4F4;
}

label {
    color: #777777;
    font-weight: 400;
    font-size: 14px;
}

select {
    background: #ffffff;
    border: 1px solid #888888;
    border-radius: 4px;
    height: 40px;
    width: 100%;
    margin-bottom: 24px;
    appearance: none;
    padding-left: 18px;
    font-weight: 700;
    font-size: 16px;
    color: #555;
    filter: drop-shadow(3px 3px 3px #555);
}

input {
    background: #ffffff;
    border: 1px solid #888888;
    border-radius: 4px;
    height: 38px;
    width: 100%;
    margin-bottom: 24px;
    appearance: none;
    padding-left: 18px;
    font-weight: 700;
    font-size: 16px;
    color: #555;
    filter: drop-shadow(3px 3px 3px #555);
}

button {
    Width: 327px;
    Height: 48px;
    border-radius: 5px;
    background: #772FD3;
    border: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    filter: drop-shadow(3px 3px 3px #555);
}

button:hover{
    opacity: 0.9;
}

button:active{
    opacity: 0.8;
}

.bandeiras {
    Width: 327px;
    Height: 380px;
    border: 1px solid #772FD3;
    margin-top: 20px;
    border-radius: 20px;
    text-align: center;
    filter: drop-shadow(3px 3px 3px #555);
}

section {
    padding: 20px;
}

div {
    padding: 15px;
} 

.bandeirola{
    filter: drop-shadow(3px 3px 3px #555);
}

p{
    font-size: 18px;
    font-weight: 700;
    color: #555;
}

